body {
   
    background: url('https://www.transparenttextures.com/patterns/asfalt-dark.png'), #0a0a0a;
    background-blend-mode: multiply;
    color: white;
}


p, h5, h4 {
    color: white;
}
a, h1 {
color:blueviolet;

}

h3 {
color:gold;

 }
 img {
    width: 100px; 
    height: auto; 
    border-top: 5px;
  }
  
  